
<br>
  <div class="burgerShow row">
  <div class="col s5 m7">
    <div class="card showCard">
        <div id="showpic responsive-img" class="card-image">
          <img class="showpic" src="<%= photo.photourl %>">
        </div>
      <div class="card-action">
        <div class="showBox">
          <span class="card-title"><%= photo.caption %></span>
          <a href="<%= photo.id %>/edit">edit</a>
          <form method="POST" action="/photos/<%= photo._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="material-icons" id="#deletecomment">delete_forever</button>
      </div>
      </form>
      </div>
    </div>
  </div>

  <div class="rightcomments l12 ">
    <div class="commentsThemselves pull right">
        <% photo.comments.forEach(comment => { %>
          <div class="comments">
          <% if(comment.user) {%>
            <p><b><%= comment.user.username  %></b> <%= comment.content %></p>
          <% } %>
            <form method="post" action="/photos/<%= photo.id %>/comments/<%= comment.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="material-icons right align commentErase" id="#deletecomment" type="submit">close</button>
            </form>
          </div>
        <% }); %>
    </div>
      <form class="enterComment col l12" action="/photos/<%= photo._id %>/comments" method="post">
        <div class="input-field col l12">
          <input type="text" name="content" id="comment_field" >
          <label for="comment_field">Write a comment</label>
        </div>
        <div class="input-field col l12">
          <button class="green btn">Post</button>
        </div>
      </form>
    </div>

</div>
